<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Checkout</title>
  </head>
  <body>
    <h1>Item purchased:</h1>
    <h3><%= @session[:item] %></h3>
  </body>
</html>
