
<form class="" action="/checkout" method="post">
  <p>
    <label for="cart[item]"></label>
    <input type="text" name="item">
  </p>
  <p>
    <input type="submit" id="submit" value="Submit">
  </p>

</form>
